@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');
@import url('https://fonts.googleapis.com/css?family=Alex+Brush');

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 14px;
    background: #f5f5f5;
}

.topbar {
    margin-bottom: 30px;
}

    .navbar-brand {
        font-size: 50px;
        line-height: 15px;
        font-family: "Alex Brush";
        margin-right: 30px;
    }

    .nav-link {
        margin-left: 5px;
    }

    .nav-link .fas,
    .nav-link .fab {
        width: 15px;
        margin-right: 5px;
    }
