@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');
@import url('https://fonts.googleapis.com/css?family=Alex+Brush');

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 14px;
    background: #f5f5f5;
    overflow-x: hidden;
}

.topbar {
    background: #f5f5f5;
    border-top: 3px solid #bf3a30;
    border-image: linear-gradient(315deg, #bf3a30 0%, #864ba2 74%);
    border-image-slice: 1;
}

    .navbar-brand {
        font-size: 50px;
		line-height: 30px;
        font-family: "Alex Brush";
        margin-right: 30px;
		padding-left: 15px;
		padding-right: 15px;
		color: transparent !important;
		background-color: #bf3a30;
		background-image: linear-gradient(315deg, #bf3a30 0%, #864ba2 74%);
		background-clip: text;
		-webkit-background-clip: text;
    }

    .nav-link {
        margin-left: 5px;
    }

    .nav-link .fas,
    .nav-link .fab {
        width: 15px;
        margin-right: 5px;
    }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
     font-family: "Roboto Slab";
}

.show-status-btn {
    padding: 0 5px;
    position: relative;
    top: -5px;
    font-weight: normal;
    font-size: 12px;
}

img.black_and_white {
    filter: saturate(200%) grayscale(100%) brightness(50%);
    opacity: 0.8;
    transition-property: filter, opacity;
    transition-duration: 0.2s;
}

.overlay-green {
    background-color: rgba(36, 183, 36, 0.4);
}

.overlay-red {
    background-color: rgba(216, 61, 47, 0.4);
}

.media-card:hover img.black_and_white {
     filter: none;
     opacity: 1;
}

.media-card .card-img-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-card:hover .card-img-overlay {
    display: none;
}
    .media-card .card-img-overlay span {
        display: table-cell;
        vertical-align: middle;
    }

.media-card a {
    text-decoration: none;
    color: #444;
}

.media-card a:hover {
    color: #666;
}

.media-card .btn-delete-item {
     position: absolute;
     right: 0;
     top: 0;
     background: transparent;
     border: none;
     font-size: 12px;
    opacity: 0.6;
}

.media-card .btn-delete-item:hover {
    opacity: 1;
}

#full_background{
    content: '';
    padding: 0;
    margin: 0;

    position: fixed;
    left: 0;
    right: 0;

    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-color: #555;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    filter: grayscale(90%) brightness(30%) blur(2px);
    transform: scale(1.1);
}

.mediadetails {
     color: #fefefe;
}

.external-links-banner {
     display: inline;
}

    .external-links-banner a {
        font-style: italic;
        /*font-weight: bold;*/
        text-decoration: none;
    }

    .external-links-banner a:hover {
        opacity: 0.7;
    }

    .external-links-banner .imdb {
        color: #f9ff94;
    }

    .external-links-banner .trakt {
        color: #ff5f68;
    }

    .external-links-banner .tmdb {
        color: #45f6bb;
    }

.action-bar {
    height: 30px;
    line-height: 30px;
    background: rgba(255, 255, 255, 0.05);
    margin-bottom: 20px;
}

    .action-bar button,
    .action-bar a {
        background: transparent;
        padding: 0 5px;
        border: none;
        font-weight: bold;
        font-size: 12px;
    }

    .action-bar button i,
    .action-bar a i {
        margin-right: 5px;
    }
    .action-bar.removed-element {
        background: #a51717;
    }
        .action-bar.removed-element a,
        .action-bar.removed-element button {
            color: #ddd !important;
        }

.text-primary {
    color: #864ba2 !important;
}
.badge-primary {
    background-color: #bf3a30;
    background-image: linear-gradient(315deg, #bf3a30 -50%, #864ba2 150%);
}

.episode-list-future {
     color: #555;
     background: #eee;
}
    .episode-list-future .badge {
        background: #555;
    }
