@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');
@import url('https://fonts.googleapis.com/css?family=Alex+Brush');

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 14px;
    background: #f5f5f5;
}

.topbar {
    margin-bottom: 30px;
    border-bottom: 1px solid #bf3a30;
    border-image: linear-gradient(315deg, #bf3a30 0%, #864ba2 74%);
    border-image-slice: 1;
}

    .navbar-brand {
        font-size: 50px;
		line-height: 30px;
        font-family: "Alex Brush";
        margin-right: 30px;
		padding-left: 15px;
		padding-right: 15px;
		color: transparent !important;
		background-color: #bf3a30;
		background-image: linear-gradient(315deg, #bf3a30 0%, #864ba2 74%);
		background-clip: text;
    }

    .nav-link {
        margin-left: 5px;
    }

    .nav-link .fas,
    .nav-link .fab {
        width: 15px;
        margin-right: 5px;
    }

.h3-badge {
     position: relative;
     top: -5px;
     font-weight: normal;
}

img.black_and_white {
     filter: grayscale(70%);
     opacity: 0.8;
    transition-property: filter, opacity;
    transition-duration: 0.2s;
}

.movie-card:hover img.black_and_white {
     filter: none;
     opacity: 1;
}

.movie-card .card-img-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}
.movie-card .card-img-overlay span {
    display: table-cell;
    vertical-align: middle;
}
