image: golang:latest

before_script:
  - go get -u golang.org/x/vgo
  - apt-get update
  - apt-get install ruby-sass

stages:
    - test
    - build

format:
    stage: test
    script:
      - vgo vet ./...
      - make test

compile:
    stage: build
    script:
      - make build
    artifacts:
      paths:
        - flemzerd
