sudo: required

language: go
go:
    - "1.12"

services:
    - docker

env:
    - GO111MODULE=on VIDOCQ_VERSION="v0.1.1"

before_install:
    - mkdir tmp
    - curl -L https://github.com/macarrie/vidocq/releases/download/${VIDOCQ_VERSION}/vidocq -o tmp/vidocq
    - chmod +x tmp/vidocq
    - export PATH=$PATH:$PWD/tmp

jobs:
    include:
        - stage: test
          script: 
            - make test

        - stage: build
          script: make build

        - stage: docker
          script: make build docker
          deploy:
              - provider: script
                script: bash -c "echo \"$DOCKER_PASSWORD\" | docker login -u \"$DOCKER_USERNAME\" --password-stdin; docker push macarrie/flemzerd"
                on:
                    branch: master
              - provider: script
                script: bash -c "echo \"$DOCKER_PASSWORD\" | docker login -u \"$DOCKER_USERNAME\" --password-stdin; docker tag macarrie/flemzerd macarrie/flemzer:$TRAVIS_TAG && docker push macarrie/flemzerd"
                on:
                    tags: true
                    branch: master

after_success:
    - bash <(curl -s https://codecov.io/bash)
