language: go
go:
    - 1.9

install:
    - go get -u github.com/golang/dep/cmd/dep
    - dep ensure

before_script:
    - go vet ./...

script:
    - ./test.sh

after_success:
  - bash <(curl -s https://codecov.io/bash)
