language: go
go:
    - "1.10"

before_install:
    - sudo pip install guessit

install:
    - go get -u golang.org/x/vgo

before_script:
    - go vet ./...

script:
    - make test

after_success:
  - bash <(curl -s https://codecov.io/bash)
