language: go
go:
    - "1.10"

before_install:
    - curl https://sh.rustup.rs -sSf | sh -s -- -y
    - export PATH=~/.cargo/bin:$PATH
    - mkdir tmp
    - git clone https://github.com/macarrie/vidocq tmp/vidocq
    - pushd tmp/vidocq && cargo build --release && popd
    - export PATH=$PATH:$PWD/tmp/vidocq/target/release/

install:
    - go get -u golang.org/x/vgo

script:
    - make test

after_success:
  - bash <(curl -s https://codecov.io/bash)
