<div class="container" ng-if="!config.System.TrackMovies">
    <div class="row">
        <div class="col-12 py-5 text-center">
            <span class="text-muted h4">
                Movie tracking disabled
            </span>
        </div>
    </div>
</div>

<div class="container" ng-if="config.System.TrackMovies">
    <div class="row" ng-if="!movies.tracked.length">
        <div class="col-12 py-5 text-center">
            <span class="text-muted h4">
                No tracked movies
            </span>
        </div>
    </div>

    <div class="row" ng-if="movies.downloading">
        <div class="col-12">
            <h3>Downloading movies</h3>
        </div>
        <div class="p-2 col-lg-12 col-sm-12" ng-repeat="m in movies.downloading">
            <movie ng-model="m" downloading></movie>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mt-4">
            <h3>Tracked movies</h3>
        </div>
        <div class="p-2 col-lg-6 col-sm-12" ng-repeat="movie in movies.tracked">
            <movie ng-model="movie"></movie>
        </div>
    </div>

    <div class="row mt-4" ng-if="objLength(movies.downloaded) > 0">
        <div class="col-12">
            <h3>Downloaded movies</h3>
        </div>
        <div class="p-2 col-lg-6 col-sm-12" ng-repeat="movie in movies.downloaded">
            <movie ng-model="movie"></movie>
        </div>
    </div>
</div>
