MOVIE DETAILS {{ movie }}<br />
<!--<div class="container" ng-if="!config.System.TrackMovies">-->
    <!--<div class="row">-->
        <!--<div class="col-12 py-5 text-center">-->
            <!--<span class="text-muted h4">-->
                <!--Movie tracking disabled-->
            <!--</span>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="container" ng-if="config.System.TrackMovies">-->
    <!--<div class="row" ng-if="objLength(movies.downloading) > 0">-->
        <!--<div class="my-3 col-lg-12 col-sm-12" ng-repeat="movie in movies.downloading">-->
            <!--<movie ng-model="movie" downloading></movie>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
        <!--<div class="my-3 col-lg-2 col-sm-4" ng-repeat="movie in movies.tracked">-->
            <!--<movie ng-model="movie"></movie>-->
        <!--</div>-->
        <!--<div class="my-3 col-lg-2 col-sm-4" ng-repeat="movie in movies.downloaded">-->
            <!--<movie ng-model="movie"></movie>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
