<div id="full_background"></div>
<div class="container-fluid action-bar"
     ng-class="movie.DeletedAt != null ? 'removed-element' : ''">
    <div class="container">
        <a class="text-secondary" ui-sref="movies">
            <i class="fas fa-arrow-left"></i>Back
        </a>
        <button class="text-danger float-right" 
                ng-if="movie.DeletedAt == null && !movie.DownloadingItem.Downloaded"
                ng-click="deleteMovie(movie.ID)">
            <i class="fas fa-times"></i>Remove
        </button>
        <button class="text-primary float-right" 
                ng-if="movie.DeletedAt != null && !movie.DownloadingItem.Downloaded"
                ng-click="restoreMovie(movie.ID)">
            <i class="fas fa-reply"></i>Restore
        </button>
    </div>
</div>
<div class="container mediadetails">
    <div class="row">
        <div class="col-4">
            <img class="rounded" width="100%" src="{{ movie.Poster }}" alt="">
        </div>
        <div class="col-8 pl-0 pr-5 pt-2">
            <!--<a ui-sref="movies" class="h6 text-muted mx-3">-->
            <!--<i class="fas fa-arrow-left"></i>-->
            <!--</a>-->
            <span class="h2">{{ movie.Title }} </span> <span class="h3 text-muted">({{ utils.getYear(movie.Date) }})</span>
            <span class="text-muted" ng-if="movie.Title != movie.OriginalTitle">( {{ movie.OriginalTitle }} )</span>

            <div class="p-3">
                See on
                <div class="external-links-banner">
                    <a  href="https://www.imdb.com/title/{{ movie.MediaIds.Imdb }}"
                        target="_blank"
                        class="mx-2 imdb"
                        ng-if="movie.MediaIds.Imdb != 0">
                        <i class="fas fa-external-link-alt"></i>
                        IMDB
                    </a>
                    <a  href="https://trakt.tv/search/trakt/{{ movie.MediaIds.Trakt }}?id_type=movie"
                        target="_blank"
                        class="mx-2 trakt"
                        ng-if="movie.MediaIds.Trakt != 0">
                        <i class="fas fa-external-link-alt"></i>
                        Trakt
                    </a>
                    <a  href="https://themoviedb.org/movie/{{ movie.MediaIds.Tmdb }}"
                        target="_blank"
                        class="mx-2 tmdb"
                        ng-if="movie.MediaIds.Tmdb != 0">
                        <i class="fas fa-external-link-alt"></i>
                        TMDB
                    </a>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <h6>Overview</h6>
                    <div class="col-12">
                        {{ movie.Overview}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid no-gutters bg-light mt-4">
    <div class="container p-2">
        <div class="row">
            <div class="col-12 my-3">
                <span class="h4">Download status</span>
            </div>
            <div class="col-12"
                 ng-if="movie.DownloadingItem.Downloaded">

                <div class="mb-3">
                    <span class="h6 text-success">
                        <i class="fas fa-check-circle"></i> Movie downloaded successfully
                    </span>
                </div>
                <downloadingitem item="movie.DownloadingItem" downloaded="true"></downloadingitem>
            </div>
            <div class="col-12 my-3"
                 ng-if="movie.DownloadingItem.Downloading && !movie.DownloadingItem.Downloaded">
                <downloadingitem item="movie.DownloadingItem"></downloadingitem>
            </div>
        </div>
    </div>
</div>
