<div class="card media-card">
    <a ui-sref="moviedetails({id: movie.ID})">
        <img    class="card-img" 
                width="100%" 
                src="{{ movie.Poster }}" 
                ng-class="( movie.DeletedAt != null || movie.DownloadingItem.Downloaded ) ? 'black_and_white' : ''"
                alt="">
        <div class="card-img-overlay text-white font-weight-bold font-italic overlay-red" 
             ng-if="movie.DeletedAt != null">
            <span>
                Removed
            </span>
        </div>
        <div class="card-img-overlay text-white font-weight-bold font-italic overlay-green" 
             ng-if="movie.DownloadingItem.Downloaded && movie.DeletedAt == null">
            <span>
                Downloaded
            </span>
        </div>
    </a>
    <button class="btn btn-delete-item text-white float-right" 
            ng-click="deleteMovie(movie.ID)"
            ng-if="movie.DeletedAt == null && !movie.DownloadingItem.Downloaded">
        <i class="material-icons md-18">clear</i>
    </button>
    <button class="btn btn-delete-item text-white float-right" 
            ng-click="restoreMovie(movie.ID)"
            ng-if="movie.DeletedAt != null && !movie.DownloadingItem.Downloaded">
        <i class="material-icons md-18">undo</i>
    </button>
</div>
