<div class="card movie-card">
    <div class="container no-gutters px-0">
        <div class="row">
            <div class="col-sm-4 col-lg-2">
                <a ui-sref="moviedetails({id: movie.ID})">
                    <img class="card-img-left rounded-left" width="100%" src="{{ movie.Poster }}" alt="">
            </div>
                </a>
                <div class="col-sm-8 col-lg-10 pl-0 pr-5 pt-2">
                    <a ui-sref="moviedetails({id: movie.ID})">
                        <span class="h4">{{ movie.Title }} </span> <span class="h5 text-muted">({{ utils.getYear(movie.Date) }})</span>
                        <span class="text-muted" ng-if="movie.Title != movie.OriginalTitle">( {{ movie.OriginalTitle }} )</span>
                    </a>
                    <p class="card-text mt-3">
                    <downloadingitem item="movie.DownloadingItem"></downloadingitem>
                    </p>
                </div>
        </div>
    </div>
</div>
