<div class="container">
    <div class="row">
        <div class="col-12">
            <h4>Global settings</h4>
        </div>

        <div class="col-lg-6 col-sm-12">
            <ul class="list-group mb-3">
                <li class="list-group-item">
                    <b> Polling interval </b>
                    <span class="float-right text-primary">
                        {{ config.System.EpisodeCheckInterval }}mn
                    </span>
                </li>
                <li class="list-group-item">
                    <b> Torrent download attempts limit </b>
                    <span class="float-right text-primary">
                        {{ config.System.TorrentDownloadAttemptsLimit }}
                    </span>
                </li>
            </ul>
        </div>

        <div class="col-lg-6 col-sm-12">
            <ul class="list-group mb-3">
                <li class="list-group-item">
                    <b> Interface enabled </b>
                    <span class="float-right text-danger"
                        ng-if="!config.Interface.Enabled"><i class="fas fa-times-circle"></i></span>
                    <span class="float-right text-success"
                        ng-if="config.Interface.Enabled"><i class="fas fa-check-circle"></i></span>
                </li>
                <li class="list-group-item">
                    <b> Interface port </b>
                    <span class="float-right">
                        {{ config.Interface.Port }}
                    </span>
                </li>
            </ul>
        </div>

        <div class="col-lg-6 col-sm-12">
            <ul class="list-group mb-3">
                <li class="list-group-item">
                    <b> TV Shows tracking enabled </b>
                    <span class="float-right text-danger"
                        ng-if="!config.System.TrackShows"><i class="fas fa-times-circle"></i></span>
                    <span class="float-right text-success"
                        ng-if="config.System.TrackShows"><i class="fas fa-check-circle"></i></span>
                </li>
                <li class="list-group-item">
                    <b> Movie tracking enabled </b>
                    <span class="float-right text-danger"
                        ng-if="!config.System.TrackMovies"><i class="fas fa-times-circle"></i></span>
                    <span class="float-right text-success"
                        ng-if="config.System.TrackMovies"><i class="fas fa-check-circle"></i></span>
                </li>
                <li class="list-group-item">
                    <b> Preferred media quality </b>
                    <span class="float-right text-muted" ng-if="!config.System.PreferredMediaQuality">
                        None
                    </span>
                    <span class="float-right text-primary" ng-if="config.System.PreferredMediaQuality">
                        {{ config.System.PreferredMediaQuality }}
                    </span>
                </li>
            <ul class="list-group">
        </div>

        <div class="col-lg-6 col-sm-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <b> TV Shows library path </b>
                    <span class="float-right font-italic text-primary">
                        {{ config.Library.ShowPath }}
                    </span>
                </li>
                <li class="list-group-item">
                    <b> Movies library path </b>
                    <span class="float-right font-italic text-primary">
                        {{ config.Library.MoviePath }}
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>Notifications</h4>
        </div>
        <div class="col-lg-6 col-sm-12">
            <ul class="list-group mb-3">
                <li class="list-group-item">
                    <b> Notifications enabled </b>
                    <span class="float-right text-danger"
                        ng-if="!config.Notifications.Enabled"><i class="fas fa-times-circle"></i></span>
                    <span class="float-right text-success"
                        ng-if="config.Notifications.Enabled"><i class="fas fa-check-circle"></i></span>
                </li>
                <li class="list-group-item">
                    <b> Notify on new episode </b>
                    <span class="float-right text-danger"
                        ng-if="!config.Notifications.NotifyNewEpisode"><i class="fas fa-times-circle"></i></span>
                    <span class="float-right text-success"
                        ng-if="config.Notifications.NotifyNewEpisode"><i class="fas fa-check-circle"></i></span>
                </li>
                <li class="list-group-item">
                    <b> Notify on download complete </b>
                    <span class="float-right text-danger"
                        ng-if="!config.Notifications.NotifyDownloadComplete"><i class="fas fa-times-circle"></i></span>
                    <span class="float-right text-success"
                        ng-if="config.Notifications.NotifyDownloadComplete"><i class="fas fa-check-circle"></i></span>
                </li>
                <li class="list-group-item">
                    <b> Notify on download failure </b>
                    <span class="float-right text-danger"
                        ng-if="!config.Notifications.NotifyFailure"><i class="fas fa-times-circle"></i></span>
                    <span class="float-right text-success"
                        ng-if="config.Notifications.NotifyFailure"><i class="fas fa-check-circle"></i></span>
                </li>
            </ul>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <h4>Modules</h4>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h6>Watchlists</h6>
            <ul class="list-group mb-3">
                <li class="list-group-item" ng-repeat="(watchlist, content) in config.Watchlists">
                    <b> {{ watchlist }} </b>
                    <span ng-if="watchlist == 'trakt' && $ctrl.trakt_auth"
                          class="text-success float-right font-weight-light font-italic">
                        configured
                    </span>
                    <button ng-if="watchlist == 'trakt' && !$ctrl.trakt_auth"
                            class="btn btn-outline-danger btn-sm float-right font-weight-light"
                            ng-click="$ctrl.startTraktAuth()">
                        Connect to trakt.tv
                    </button>
                    <div ng-if="watchlist == 'trakt'">
                        <div ng-if="!$ctrl.trakt_auth && $ctrl.trakt_device_code.device_code">
                            <hr />

                            Enter the following validation code into <a target="_blank" href="{{ $ctrl.trakt_device_code.verification_url }}">{{ $ctrl.trakt_device_code.verification_url }}</a>
                            <h5 class="font-weight-bold text-center text-primary mt-2">{{ $ctrl.trakt_device_code.user_code }}</h5>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h6>Providers</h6>
            <ul class="list-group mb-3">
                <li class="list-group-item" ng-repeat="(provider, cfg) in config.Providers">
                    <b> {{ provider }} </b>
                </li>
            </ul>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h6>Notifiers</h6>
            <ul class="list-group mb-3">
                <li class="list-group-item" ng-repeat="(notifier, cfg) in config.Notifiers">
                    <b> {{ notifier }} </b>
                </li>
            </ul>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h6>Indexers <span class="text-muted">(torznab)</span></h6>
            <ul class="list-group mb-3">
                <li class="list-group-item" ng-repeat="indexer in config.Indexers.torznab">
                    <b> {{ indexer.name }} </b>
                    <span class="float-right text-muted"><small> {{ indexer.url }} </small></span>
                </li>
            </ul>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h6>Downloaders</h6>
            <ul class="list-group mb-3">
                <li class="list-group-item" ng-repeat="(downloader, cfg) in config.Downloaders">
                    <b> {{ downloader }} </b>
                </li>
            </ul>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h6>Media centers</h6>
            <ul class="list-group mb-3">
                <li class="list-group-item" ng-repeat="(mc, cfg) in config.MediaCenters">
                    <b> {{ mc }} </b>
                </li>
            </ul>
        </div>
    </div>
</div>
