<div class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-12 mt-2">
            <h3>Watchlists</h3>
            <ul class="list-group" ng-if="!modules.watchlists">
                <li class="list-group-item text-center py-3 font-weight-light font-italic text-muted">Loading</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="watchlist in modules.watchlists"
                    ng-class="watchlist.Status.Alive ? 'border-success' : 'border-danger'">
                    <span>{{ watchlist.Name }}</span>
                    <span class="badge badge-pill badge-danger float-right"
                          ng-if="!watchlist.Status.Alive">ERROR</span>
                    <span class="badge badge-pill badge-success float-right"
                          ng-if="watchlist.Status.Alive">OK</span>
                    <div ng-if="!watchlist.Status.Alive">
                        <hr />
                        <div class="alert alert-danger mt-1 mb-1">
                            {{ watchlist.Status.Message }}
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-lg-6 col-sm-12 mt-2">
            <h3>Providers</h3>
            <ul class="list-group" ng-if="!modules.providers">
                <li class="list-group-item text-center py-3 font-weight-light font-italic text-muted">Loading</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="provider in modules.providers"
                    ng-class="provider.Status.Alive ? 'border-success' : 'border-danger'">
                    <span>{{ provider.Name }}</span>
                    <span class="badge badge-pill badge-danger float-right"
                          ng-if="!provider.Status.Alive">ERROR</span>
                    <span class="badge badge-pill badge-success float-right"
                          ng-if="provider.Status.Alive">OK</span>
                    <div ng-if="!provider.Status.Alive">
                        <hr />
                        <div class="alert alert-danger mt-1 mb-1">
                            {{ provider.Status.Message }}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-sm-12 mt-2">
            <h3>Notifiers</h3>
            <ul class="list-group" ng-if="!modules.notifiers">
                <li class="list-group-item text-center py-3 font-weight-light font-italic text-muted">Loading</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item border" 
                    ng-repeat="notifier in modules.notifiers"
                    ng-class="notifier.Status.Alive ? 'border-success' : 'border-danger'">
                    <span>{{ notifier.Name }}</span>
                    <span class="badge badge-pill badge-danger float-right"
                          ng-if="!notifier.Status.Alive">ERROR</span>
                    <span class="badge badge-pill badge-success float-right"
                          ng-if="notifier.Status.Alive">OK</span>
                    <div ng-if="!notifier.Status.Alive">
                        <hr />
                        <div class="alert alert-danger mt-1 mb-1">
                            {{ notifier.Status.Message }}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-6 col-sm-12 mt-2">
            <h3>Indexers</h3>
            <ul class="list-group" ng-if="!modules.indexers">
                <li class="list-group-item text-center py-3 font-weight-light font-italic text-muted">Loading</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="indexer in modules.indexers"
                    ng-class="indexer.Status.Alive ? 'border-success' : 'border-danger'">
                    <span>{{ indexer.Name }}</span>
                    <span class="badge badge-pill badge-danger float-right"
                          ng-if="!indexer.Status.Alive">ERROR</span>
                    <span class="badge badge-pill badge-success float-right"
                          ng-if="indexer.Status.Alive">OK</span>
                    <div ng-if="!indexer.Status.Alive">
                        <hr />
                        <div class="alert alert-danger mt-1 mb-1">
                            {{ indexer.Status.Message }}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-sm-12 mt-2">
            <h3>Downloaders</h3>
            <ul class="list-group" ng-if="!modules.downloaders">
                <li class="list-group-item text-center py-3 font-weight-light font-italic text-muted">Loading</li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="downloader in modules.downloaders"
                    ng-class="downloader.Status.Alive ? 'border-success' : 'border-danger'">
                    <span>{{ downloader.Name }}</span>
                    <span class="badge badge-pill badge-danger float-right"
                          ng-if="!downloader.Status.Alive">ERROR</span>
                    <span class="badge badge-pill badge-success float-right"
                          ng-if="downloader.Status.Alive">OK</span>
                    <div ng-if="!downloader.Status.Alive">
                        <hr />
                        <div class="alert alert-danger mt-1 mb-1">
                            {{ downloader.Status.Message }}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
