<div class="container" ng-if="!$ctrl.config.System.TrackShows">
    <div class="row">
    <div class="col-12 py-5 text-center">
        <span class="text-muted h4">
            TV Show tracking disabled
        </span>
    </div>
    </div>
</div>

<div class="container" ng-if="$ctrl.config.System.TrackShows">
    <div class="row">
        <div class="p-2 col-lg-6 col-sm-12" ng-repeat="tvshow in $ctrl.tvshows">
            <div class="container no-gutters px-0 bg-white border border-light rounded">
                <div class="row">
                    <div class="col-4">
                        <img class="rounded-left" width="100%" src="{{ tvshow.Poster }}" alt="">
                    </div>
                    <div class="col-8 pl-0 pr-5 pt-2">
                        <span class="h3">{{ tvshow.Name }} </span> <span class="badge h3-badge" ng-class="{'badge-success': tvshow.Status <= 2, 'badge-danger': tvshow.Status == 3, 'badge-warning': tvshow.Status == 4}">{{ tvshow.StatusText }}</span>
                        <p class="card-text">{{ tvshow.Overview }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <ul>
        <li ng-repeat="tvshow in $ctrl.tvshows">{{ tvshow }}</li>
    </ul>
</div>
