<div class="container" ng-if="!config.System.TrackShows">
    <div class="row">
        <div class="col-12 py-5 text-center">
            <span class="text-muted h4">
                TV Show tracking disabled
            </span>
        </div>
    </div>
</div>

<div class="container" ng-if="config.System.TrackShows">
    <div class="row" ng-if="utils.objLength(tvshows.tracked) == 0">
        <div class="col-12 py-5 text-center">
            <span class="text-muted h4">
                No tracked TV shows
                <button class="btn btn-sm btn-light ml-5" ng-click="refreshTvShows()">
                    <div ng-if="refreshing" class="font-italic">
                        <i class="material-icons md-18 float-left mr-1">refresh</i> Refreshing
                    </div>
                    <div ng-if="!refreshing">
                        <i class="material-icons md-18 float-left mr-1">refresh</i> Refresh
                    </div>
                </button>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="row" ng-if="utils.objLength(tvshows.downloading) > 0">
            <div class="col-12 mt-3">
                <span class="h3">Downloading episodes</span>
            </div>
            <div class="col-12 mt-3">
                <table class="table">
                    <thead>
                        <th>Episode name</th>
                        <th>Download status</th>
                        <th class="text-center">Failed torrents</th>
                        <th></th>
                    </thead>

                    <tbody>
                        <tr ng-repeat="episode in tvshows.downloading">
                            <td>
                                <a ui-sref="episodedetails({id: episode.ID})">
                                    {{ episode.TvShow.Name }} S{{utils.formatNumber(episode.Season)}}E{{ utils.formatNumber(episode.Number) }} : {{ episode.Name }}
                                </a>
                            </td>
                            <td>
                                <span class="text-success"
                                      ng-if="episode.DownloadingItem.Downloading"><i class="material-icons md-18 float-left mr-1">check_circle_outline</i> Started at {{ utils.displayDate(episode.DownloadingItem.CurrentTorrent.CreatedAt) }}</span>
                                <span ng-if="episode.DownloadingItem.Pending" class="font-italic"><i class="material-icons  md-18 float-left mr-1">search</i> Looking for torrents</span>
                            </td>
                            <td class="text-center font-weight-bold"
                                ng-class="utils.objLength(episode.DownloadingItem.FailedTorrents) > 0 ? 'text-danger' : 'text-success'">
                                {{ utils.objLength(episode.DownloadingItem.FailedTorrents) }}
                            </td>
                            <td>
                                <a class="text-danger" ng-click="deleteEpisode(episode.ID)">
                                    <i class="material-icons md-18 float-left">clear</i>
                                </a>
                            </td>
                            <!--<tvshow ng-model="episode" downloading></tvshow>-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row" ng-if="utils.objLength(tvshows.tracked) > 0">
            <div class="col-12 mt-3">
                <span class="h3">TV Shows</span>
                <button class="btn btn-sm btn-light float-right" ng-click="refreshTvShows()">
                    <div ng-if="refreshing" class="font-italic">
                        <i class="material-icons md-18 float-left mr-1">refresh</i> Refreshing
                    </div>
                    <div ng-if="!refreshing">
                        <i class="material-icons md-18 float-left mr-1">refresh</i> Refresh
                    </div>
                </button>
                <button class="btn btn-sm btn-light text-muted float-right"
                        ng-click="show_removed_shows = !show_removed_shows">
                    <div ng-if="!show_removed_shows">
                        <i class="material-icons md-18 float-left mr-1">check_box_outline_blank</i> Removed
                    </div>
                    <div ng-if="show_removed_shows">
                        <i class="material-icons md-18 float-left mr-1">check_box</i> Removed
                    </div>
                </button>
            </div>
            <div class="my-3 col-6 col-lg-2 col-sm-4" ng-repeat="tvshow in tvshows.tracked">
                <tvshow ng-model="tvshow"></tvshow>
            </div>
            <div class="my-3 col-6 col-lg-2 col-sm-4"
                 ng-if="show_removed_shows"
                 ng-repeat="tvshow in tvshows.removed">
                <tvshow ng-model="tvshow"></tvshow>
            </div>
        </div>
    </div>
</div>
