<div class="container" ng-if="!config.System.TrackShows">
    <div class="row">
        <div class="col-12 py-5 text-center">
            <span class="text-muted h4">
                TV Show tracking disabled
            </span>
        </div>
    </div>
</div>

<div class="container" ng-if="config.System.TrackShows">
    <div class="row" ng-if="utils.objLength(tvshows.tracked) == 0">
        <div class="col-12 py-5 text-center">
            <span class="text-muted h4">
                No tracked TV shows
            </span>
        </div>
    </div>
    <div class="row">
        <div class="row" ng-if="utils.objLength(tvshows.downloading) > 0">
            <div class="my-3 col-lg-12 col-sm-12" ng-repeat="episode in tvshows.downloading">
                <tvshow ng-model="episode" downloading></tvshow>
            </div>
        </div>

        <div class="row">
            <div class="my-3 col-lg-2 col-sm-4" ng-repeat="tvshow in tvshows.tracked">
                <tvshow ng-model="tvshow"></tvshow>
            </div>
            <div class="my-3 col-lg-2 col-sm-4" ng-repeat="tvshow in tvshows.downloaded">
                <tvshow ng-model="tvshow"></tvshow>
            </div>
        </div>
    </div>
</div>
