<div id="full_background"></div>
<div class="container-fluid action-bar"
     ng-class="tvshow.DeletedAt != null ? 'removed-element' : ''">
    <div class="container">
        <a class="btn text-light float-left" ui-sref="tvshows">
            <i class="material-icons">arrow_back</i>Back
        </a>
        <a class="btn text-danger float-right"
           ng-if="tvshow.DeletedAt == null"
           ng-click="deleteShow(tvshow.ID)">
            <i class="material-icons">clear</i>Remove
        </a>
        <a class="btn text-light float-right"
           ng-if="tvshow.DeletedAt != null"
           ng-click="restoreShow(tvshow.ID)">
            <i class="material-icons">undo</i>Restore
        </a>
    </div>
</div>
<div class="container mediadetails">
    <div class="row">
        <div class="col-4">
            <img class="rounded" width="100%" src="{{ tvshow.Poster }}" alt="">
        </div>
        <div class="col-8 pl-0 pr-5">
            <span class="h2">{{ tvshow.Name }} </span> <span class="h3 text-muted">({{ utils.getYear(tvshow.FirstAired) }})</span>
            <button class="ml-2 btn btn-sm show-status-btn"
                    ng-class="tvshow.Status < 3 ? 'btn-outline-success' : (tvshow.Status == 3 ? 'btn-outline-danger' : 'btn-outline-warning' )">
                {{ tvshow.StatusText }}
            </button>

            <div class="p-3">
                See on
                <div class="external-links-banner">
                    <a  href="https://www.imdb.com/title/{{ tvshow.MediaIds.Imdb }}"
                        target="_blank"
                        class="mx-2 imdb"
                        ng-if="tvshow.MediaIds.Imdb != 0">
                        <i class="material-icons">launch</i>
                        IMDB
                    </a>
                    <a  href="https://trakt.tv/search/trakt/{{ tvshow.MediaIds.Trakt }}?id_type=show"
                        target="_blank"
                        class="mx-2 trakt"
                        ng-if="tvshow.MediaIds.Trakt != 0">
                        <i class="material-icons">launch</i>
                        Trakt
                    </a>
                    <a  href="https://themoviedb.org/tv/{{ tvshow.MediaIds.Tmdb }}"
                        target="_blank"
                        class="mx-2 tmdb"
                        ng-if="tvshow.MediaIds.Tmdb != 0">
                        <i class="material-icons">launch</i>
                        TMDB
                    </a>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <h6>Overview</h6>
                    <div class="col-12">
                        {{ tvshow.Overview}}
                    </div>
                </div>
                <div class="row mt-3">
                    <h6>Seasons</h6>
                    <div class="col-12">
                        {{ tvshow.NumberOfSeasons}} seasons, {{ tvshow.NumberOfEpisodes }} episodes
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid no-gutters bg-light mt-4">
    <div class="container p-2">
        <div class="row"
             ng-repeat="season in tvshow.Seasons"
             ng-if="season.SeasonNumber > 0">
            <div class="col-12 my-3" ng-click="collapse = !collapse" >
                <a>
                    <i class="material-icons md-18 float-left" ng-if="!collapse">arrow_drop_down</i>
                    <i class="material-icons md-18 float-left" ng-if="collapse">arrow_drop_up</i>
                </a>
                <span class="h4">Season {{ season.SeasonNumber }} </span><span class="text-muted h6">( {{ season.EpisodeCount }} episodes )</span>
                <button class="btn btn-sm float-right">Mark all as downloaded</button>
            </div>
            <div class="col-12" ng-show="collapse">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Release date</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="episode in seasons[season.SeasonNumber]"
                            ng-class="utils.dateIsInFuture(episode.Date) ? 'episode-list-future' : ''">
                            <td><span class="badge badge-primary mr-1">{{ utils.formatNumber(episode.Season) }}x{{ utils.formatNumber(episode.Number) }}</span> {{ episode.Name }}</td>
                            <td>{{ utils.displayDate(episode.Date) }}</td>
                            <td class="text-center">
                                <a class="btn btn-sm p-0"
                                   ng-click="downloadEpisode(episode)"
                                   ng-if="!utils.dateIsInFuture(episode.Date) && !episode.DownloadingItem.Downloaded && !episode.DownloadingItem.Downloading && !episode.DownloadingItem.Pending">
                                    <i class="material-icons">cloud_download</i>
                                </a>
                                <a class="btn btn-sm p-0 text-muted"
                                   ng-click="markAsDownloaded(episode)"
                                   ng-if="!episode.DownloadingItem.Downloaded && !episode.DownloadingItem.Pending && !episode.DownloadingItem.Downloading">
                                    Mark as downloaded
                                    <i class="material-icons">check</i>
                                </a>
                                <a class="btn btn-sm p-0 text-success"
                                   ng-if="episode.DownloadingItem.Downloaded">
                                    <i class="material-icons">check</i>
                                </a>
                                <span ng-if="episode.DownloadingItem.Downloading || episode.DownloadingItem.Pending">
                                    <i class="material-icons">swap_vert</i>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
