@import url('https://fonts.googleapis.com/css?family=Alex+Brush');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

@import "vars.scss";
@import "media.details.scss";
@import "media.miniatures.scss";

@import "./assets/scss/bootstrap/bootstrap-reboot.scss";
@import "./assets/scss/bootstrap/bootstrap.scss";

// Overload
///////////////////////////////
///////////////////////////////

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6,
.display-1, .display-2, .display-3, .display-4 {
    font-family: $font-header;
    font-weight: 300;
    margin-top: 30px;
}

button, 
.btn, 
.badge, 
.sans-serif {
    font-family: $font-header !important;
    font-weight: 400 !important;
}

.background-gradient {
    background-image: linear-gradient(315deg, $primary -25%, $secondary 125%);
}

.title-gradient a {
    color: transparent !important;
    background-color: $primary;
    background-image: linear-gradient(315deg, $primary -25%, $secondary 125%);
    background-clip: text;
    -webkit-background-clip: text;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: $content-font;
    font-weight: 400;
    font-size: 16px;
    overflow-x: hidden;
    margin-bottom: 100px;
}

.material-icons.md-18 { 
    font-size: 18px;
    position: relative;
    top: 1px;
}
.material-icons.md-24 { font-size: 24px;  }
.material-icons.md-36 { font-size: 36px;  }
.material-icons.md-48 { font-size: 48px;  }

a {
    color: lighten($info, 10%);

    &:hover  {
        cursor: pointer;
        color: $info;
    }
    i.material-icons {
        font-size: 16px;
        margin-right: 3px;
        position: relative;
        top: 3px;
    }
}


ul.list-group {
    box-shadow: 0 0 3px $light;

    li.list-group-item {
        border: none;
        border-top: 1px dashed darken($light, 10%);
        border-bottom: 1px dashed darken($light, 10%);
        background: #F00;
        background: linear-gradient(#FFFFFF, darken(#FFFFFF, 1%));
    }

    li.list-group-item:first-child {
        border-top: none;
    }
    li.list-group-item:last-child {
        border-bottom: none;
    }
}

hr {
    border-top: 1px dashed rgba(0, 0, 0, 0.1);
}

.doc_content {
    font-size: 18px;

    p, ul, pre {
        margin-left: 15px;
        max-width: 800px;
    }

    ul li {
        margin-bottom: 10px;
    }
}

blockquote {
    border-left: 4px solid darken($light, 5%);
    font-style: italic;
    color: darken($light, 40%);
}

pre {
    border-left: 4px solid $info;
    background: #fff;
    padding: 10px;
}

code {
    font-size: 12px;
}

.img-thumbnail {
    border-width: 2px;
}

div.toc_parent {
    position: sticky;
    top: 50px;
    width: 100%;

    .toc {
        position: absolute;
        right: 0;
        max-width: 250px;
        background: $light;
        font-size: 16px;
        padding-left: 20px;

        ul, li {
            list-style: none;
            padding: 0;
            margin: 0;
            margin-left: 5px;
            margin-top: 10px;
        }
    }
}

// Navbar
///////////////////////////////
///////////////////////////////

.navbar {
    background: $light;
    border-top: 3px solid $primary;
    border-image: linear-gradient(315deg, $primary 0%, $secondary 74%);
    border-image-slice: 1;
    font-family: $font-header;

    a {
        margin: 5px;
    }

    .navbar-brand {
        font-size: 50px !important;
        line-height: 30px !important;
        font-family: "Alex Brush";
        margin-right: 30px;
        padding-left: 15px;
        padding-right: 15px;
        color: transparent !important;
        background-color: $primary;
        background-image: linear-gradient(315deg, $primary 0%, $secondary 74%);
        background-clip: text;
        -webkit-background-clip: text;
    }

    .notifications_counter {
        span.badge {
            position: relative;
            left: -12px;

            background-color: $light;
            color: $dark;
            box-shadow: 0 0 2px $secondary;
        }

        &.alerted {
            span.badge  {
                background-color: $danger;
                color: $light;
                font-weight: bold !important;
                box-shadow: none;
            }
        }

        &.active {
            background: darken($light, 10%);
            border-radius: 4px;
        }
    }

    .navbar-toggler {
        border: none;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;

    border-top: none;
    border-bottom: 3px solid $primary;
    border-image: linear-gradient(315deg, $primary 0%, $secondary 74%);
    border-image-slice: 1;
}


// Documentation index page
///////////////////////////////
///////////////////////////////

.jumbotron-fluid {
    background-color: transparent;
    background-image: linear-gradient(315deg, rgba(191, 58, 48, .6) -25%, rgba($secondary, .6) 125%);
}
