<nav class="navbar navbar-expand-lg sticky-top navbar-light topbar">
    <div class="container">
        <a href="{{ .Site.BaseURL }}">
            <span class="navbar-brand" href="#">flemzer</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav ml-auto">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <li><a href="{{ .URL }}" class="nav-item nav-link btn btn-sm btn-light" {{if  $currentPage.IsMenuCurrent "main" . }} target="_blank" class="active"{{end}}>
                        <b>
                            {{ .Name }}
                        </b>
                    </a></li>
                {{end}}
            </div>
        </div>
    </div>
</nav>
