<div *ngIf="!episode">
    <div class="container">
        <div class="row">
            <div class="col-12 py-5 text-center">
                <span class="text-muted h4">
                    Loading
                </span>
            </div>
        </div>
    </div>
</div>

<div *ngIf="episode">
    <div id="full_background" [style.background-image]="'url(' +background_image+ ')'"></div>
    <div class="container-fluid action-bar">
        <div class="container">
            <a class="btn text-light float-left"
               (click)="back()">
                <i class="material-icons">arrow_back</i>Back
            </a>
            <a class="btn text-danger float-right"
               *ngIf="episode.DeletedAt == null"
               (click)="deleteEpisode(episode)">
                <i class="material-icons">clear</i>Remove
            </a>
            <a class="btn text-light float-right"
               *ngIf="episode.DownloadingItem.Downloaded && episode.DeletedAt == null"
               (click)="changeDownloadedState(episode, false)">
                <i class="material-icons">check</i>Unmark as downloaded
            </a>
            <a class="btn text-light float-right"
               *ngIf="!episode.DownloadingItem.Pending && !episode.DownloadingItem.Downloading && !episode.DownloadingItem.Downloaded && episode.DeletedAt == null"
               (click)="changeDownloadedState(episode, true)">
                <i class="material-icons">check</i>Mark as downloaded
            </a>
            <a class="btn text-light float-right"
               *ngIf="episode.DeletedAt == null && !episode.DownloadingItem.Pending && !episode.DownloadingItem.Downloading && !episode.DownloadingItem.Downloaded && !utils.dateIsInFuture(episode.Date)"
               (click)="downloadEpisode(episode)">
                <i class="material-icons">cloud_download</i>Download
            </a>
        </div>
    </div>
    <div class="container mediadetails">
        <div class="row">
            <div class="col-4">
                <img class="rounded" width="100%" src="{{ episode.TvShow.Poster }}" alt="">
            </div>
            <div class="col-8 pl-0 pr-5 pt-2">
                <span class="h2">{{ episode.Name }}</span>&nbsp;<span class="h3 text-muted">(S{{ utils.formatNumber(episode.Season) }}E{{ utils.formatNumber(episode.Number) }})</span>

                <div class="p-3">
                    See on
                    <div class="external-links-banner">
                        <a  href="https://www.imdb.com/title/{{ episode.MediaIds.Imdb }}"
                            target="_blank"
                            class="mx-2 imdb"
                            *ngIf="episode.TvShow.MediaIds.Imdb != 0">
                            <i class="material-icons">launch</i>
                            IMDB
                        </a>
                        <a  href="https://trakt.tv/search/trakt/{{ episode.MediaIds.Trakt }}?id_type=episode"
                            target="_blank"
                            class="mx-2 trakt"
                            *ngIf="episode.MediaIds.Trakt != 0">
                            <i class="material-icons">launch</i>
                            Trakt
                        </a>
                        <a  href="https://themoviedb.org/tv/{{ episode.TvShow.MediaIds.Tmdb }}"
                            target="_blank"
                            class="mx-2 tmdb"
                            *ngIf="episode.TvShow.MediaIds.Tmdb != 0">
                            <i class="material-icons">launch</i>
                            TMDB
                        </a>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <h6>Overview</h6>
                        <div class="col-12">
                            {{ episode.Overview}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container rounded bg-light mt-4">
        <div class="container p-2">
            <downloading-item [downloadingitem]="episode.DownloadingItem"></downloading-item>
        </div>
    </div>
</div>
