<div class="container" *ngIf="!config">
    <div class="row">
        <div class="col-12 py-5 text-center">
            <span class="text-muted h4">
                Configuration loading
            </span>
        </div>
    </div>
</div>

<div class="container" *ngIf="config">
    <div class="row">
        <div class="col-12">
            <h3>Global settings</h3>
            <hr />
        </div>

        <div class="col-lg-6 col-sm-12">
            <ul class="list-group mb-3">
                <li class="list-group-item">
                     Polling interval 
                    <span class="float-right">
                        <code>
                            {{ config.System.CheckInterval }}mn
                        </code>
                    </span>
                </li>
                <li class="list-group-item">
                     Torrent download attempts limit 
                    <span class="float-right">
                        <code>
                            {{ config.System.TorrentDownloadAttemptsLimit }}
                        </code>
                    </span>
                </li>
            </ul>
        </div>

        <div class="col-lg-6 col-sm-12">
            <ul class="list-group mb-3">
                <li class="list-group-item">
                     Interface enabled 
                    <span class="float-right text-danger"
                          *ngIf="!config.Interface.Enabled"><i class="material-icons float-right md-18">clear</i></span>
                    <span class="float-right text-success"
                          *ngIf="config.Interface.Enabled"><i class="material-icons float-right md-18">check_circle_outline</i></span>
                </li>
                <li class="list-group-item">
                     Interface port 
                    <span class="float-right">
                        <code>
                            {{ config.Interface.Port }}
                        </code>
                    </span>
                </li>
            </ul>
        </div>

        <div class="col-lg-6 col-sm-12">
            <ul class="list-group mb-3">
                <li class="list-group-item">
                     TV Shows tracking enabled 
                    <span class="float-right text-danger"
                          *ngIf="!config.System.TrackShows"><i class="material-icons float-right md-18">clear</i></span>
                    <span class="float-right text-success"
                          *ngIf="config.System.TrackShows"><i class="material-icons float-right md-18">check_circle_outline</i></span>
                </li>
                <li class="list-group-item">
                     Movie tracking enabled 
                    <span class="float-right text-danger"
                          *ngIf="!config.System.TrackMovies"><i class="material-icons float-right md-18">clear</i></span>
                    <span class="float-right text-success"
                          *ngIf="config.System.TrackMovies"><i class="material-icons float-right md-18">check_circle_outline</i></span>
                </li>
                <li class="list-group-item">
                     Preferred media quality 
                    <span class="float-right text-muted" *ngIf="!config.System.PreferredMediaQuality">
                        None
                    </span>
                    <span class="float-right" *ngIf="config.System.PreferredMediaQuality">
                        <code>
                            {{ config.System.PreferredMediaQuality }}
                        </code>
                    </span>
                </li>
            </ul>
        </div>

        <div class="col-lg-6 col-sm-12">
            <ul class="list-group mb-3">
                <li class="list-group-item">
                     TV Shows library path 
                    <span class="float-right font-italic text-info">
                        <code>
                            {{ config.Library.ShowPath }}
                        </code>
                    </span>
                </li>
                <li class="list-group-item">
                     Movies library path 
                    <span class="float-right font-italic text-info">
                        <code>
                            {{ config.Library.MoviePath }}
                        </code>
                    </span>
                </li>
                <li class="list-group-item">
                    Use default title
                    <span class="float-right text-danger"
                          *ngIf="!config.System.UseDefaultTitle"><i class="material-icons float-right md-18">clear</i></span>
                    <span class="float-right text-success"
                          *ngIf="config.System.UseDefaultTitle"><i class="material-icons float-right md-18">check_circle_outline</i></span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>Notifications</h3>
            <hr />
        </div>
        <div class="col-lg-6 col-sm-12">
            <ul class="list-group mb-3">
                <li class="list-group-item">
                     Notifications enabled 
                    <span class="float-right text-danger"
                          *ngIf="!config.Notifications.Enabled"><i class="material-icons float-right md-18">clear</i></span>
                    <span class="float-right text-success"
                          *ngIf="config.Notifications.Enabled"><i class="material-icons float-right md-18">check_circle_outline</i></span>
                </li>
                <li class="list-group-item">
                     Notify on new episode 
                    <span class="float-right text-danger"
                          *ngIf="!config.Notifications.NotifyNewEpisode"><i class="material-icons float-right md-18">clear</i></span>
                    <span class="float-right text-success"
                          *ngIf="config.Notifications.NotifyNewEpisode"><i class="material-icons float-right md-18">check_circle_outline</i></span>
                </li>
                <li class="list-group-item">
                     Notify on download complete 
                    <span class="float-right text-danger"
                          *ngIf="!config.Notifications.NotifyDownloadComplete"><i class="material-icons float-right md-18">clear</i></span>
                    <span class="float-right text-success"
                          *ngIf="config.Notifications.NotifyDownloadComplete"><i class="material-icons float-right md-18">check_circle_outline</i></span>
                </li>
                <li class="list-group-item">
                     Notify on download failure 
                    <span class="float-right text-danger"
                          *ngIf="!config.Notifications.NotifyFailure"><i class="material-icons float-right md-18">clear</i></span>
                    <span class="float-right text-success"
                          *ngIf="config.Notifications.NotifyFailure"><i class="material-icons float-right md-18">check_circle_outline</i></span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>Modules</h3>
            <hr />
        </div>
        <div class="col-lg-6 col-sm-12">
            <h4>Watchlists</h4>
            <ul class="list-group mb-3">
                <li class="list-group-item" *ngFor="let watchlist of keys(config.Watchlists)">
                     {{ watchlist }} 
                    <span *ngIf="watchlist == 'trakt' && trakt_auth"
                    class="sans-serif text-success float-right font-weight-light font-italic">
                        <small>
                            configured
                        </small>
                    </span>
                    <button *ngIf="watchlist == 'trakt' && !trakt_auth"
                    class="btn btn-outline-danger btn-sm float-right font-weight-light"
                    (click)="startTraktAuth()">
                        Connect to trakt.tv
                    </button>
                    <div *ngIf="watchlist == 'trakt'">
                        <div *ngIf="!trakt_auth && trakt_device_code?.device_code">
                            <hr />

                            Enter the following validation code into <a target="_blank" href="{{ trakt_device_code.verification_url }}">{{ trakt_device_code.verification_url }}</a>
                            <h5 class="font-weight-bold text-center text-info mt-2">{{ trakt_device_code.user_code }}</h5>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h4>Providers</h4>
            <ul class="list-group mb-3">
                <li class="list-group-item" *ngFor="let provider of keys(config.Providers)">
                    {{ provider }}
                </li>
            </ul>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h4>Notifiers</h4>
            <ul class="list-group mb-3">
                <li class="list-group-item" *ngFor="let notifier of keys(config.Notifiers)">
                     {{ notifier }} 
                    <span *ngIf="notifier == 'telegram' && telegram_chat_id"
                    class="sans-serif text-success float-right font-weight-light font-italic">
                        <small>
                            configured
                        </small>
                    </span>
                    <button *ngIf="notifier == 'telegram' && !telegram_chat_id"
                    class="btn btn-outline-danger btn-sm float-right font-weight-light"
                    (click)="startTelegramAuth()">
                        Connect to Telegram
                    </button>
                    <div *ngIf="notifier == 'telegram'">
                        <div *ngIf="!telegram_chat_id && telegram_auth_code">
                            <hr />

                            Send the following code to <code>@flemzerd_bot</code> Telegram bot to link flemzerd with Telegram
                            <h5 class="font-weight-bold text-center text-info mt-2">{{ telegram_auth_code }}</h5>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h4>Indexers <span class="text-muted">(torznab)</span></h4>
            <ul class="list-group mb-3">
                <li class="list-group-item" *ngFor="let indexer of keys(config.Indexers.torznab)">
                     {{ config.Indexers.torznab[indexer].name }} 
                    <span class="float-right text-muted">
                        <small>
                            <code> {{ config.Indexers.torznab[indexer].url }} </code>
                        </small>
                    </span>
                </li>
            </ul>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h4>Downloaders</h4>
            <ul class="list-group mb-3">
                <li class="list-group-item" *ngFor="let downloader of keys(config.Downloaders)">
                     {{ downloader }} 
                </li>
            </ul>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h4>Media centers</h4>
            <ul class="list-group mb-3">
                <li class="list-group-item" *ngFor="let mc of keys(config.MediaCenters)">
                     {{ mc }} 
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mt-2">
            <h4>About flemzerd</h4>
        </div>
        <div class="col-12 mb-2">
            <ul class="list-group">
                <li class="list-group-item">Version: <code>{{ config.Version }}</code></li>
                <li class="list-group-item text-center text-muted py-4">flemzerd is an Open Source software. For feature ideas, notifying bugs or contributing, do not hesitate to head to the <a target="blank" href="https://github.com/macarrie/flemzerd">GitHub repo</a></li>
            </ul>
        </div>
    </div>
</div>
