<div *ngIf="!movie">
    <div class="container">
        <div class="row">
            <div class="col-12 py-5 text-center">
                <span class="text-muted h4">
                    Loading
                </span>
            </div>
        </div>
    </div>
</div>

<div *ngIf="movie">
    <div id="full_background" [style.background-image]="'url(' +background_image+ ')'"></div>
    <div class="container-fluid action-bar"
         [class.removed-element]="movie.DeletedAt != null">
        <div class="container">
            <a class="btn text-light float-left"
               (click)="back()">
                <i class="material-icons">arrow_back</i>Back
            </a>
            <a class="btn text-danger float-right"
               *ngIf="movie.DeletedAt == null"
               (click)="deleteMovie(movie)">
                <i class="material-icons">clear</i>Remove
            </a>
            <a class="btn text-light float-right"
               *ngIf="movie.DeletedAt != null"
               (click)="restoreMovie(movie)">
                <i class="material-icons">undo</i>Restore
            </a>
            <a class="btn text-light float-right"
               *ngIf="movie.DownloadingItem.Downloaded && movie.DeletedAt == null"
               (click)="changeDownloadedState(movie, false)">
                <i class="material-icons">cloud_off</i>
                Unmark as downloaded
            </a>
            <a class="btn text-light float-right"
               *ngIf="!movie.DownloadingItem.Pending && !movie.DownloadingItem.Downloading && !movie.DownloadingItem.Downloaded && movie.DeletedAt == null"
               (click)="changeDownloadedState(movie, true)">
                <i class="material-icons">check</i>
                Mark as downloaded
            </a>
            <a class="btn text-light float-right"
               *ngIf="movie.UseDefaultTitle"
               (click)="useDefaultTitle(movie, false)">
                <i class="material-icons">flip_to_front</i>Use original title
            </a>
            <a class="btn text-light float-right"
               *ngIf="!movie.UseDefaultTitle"
               (click)="useDefaultTitle(movie, true)">
                <i class="material-icons">flip_to_back</i>Use default title
            </a>
        </div>
    </div>
    <div class="container mediadetails">
        <div class="row">
            <div class="col-4">
                <img class="rounded" width="100%" [attr.src]="movie.Poster" [attr.alt]="movie.Title">
            </div>
            <div class="col-8 pl-0 pr-5">
                <span class="h2">{{ getTitle(movie) }} </span> <span class="h3 text-muted">({{ utils.getYear(movie.Date) }})</span>

                <div class="p-3">
                    See on
                    <div class="external-links-banner">
                        <a  href="https://www.imdb.com/title/{{ movie.MediaIds.Imdb }}"
                            target="_blank"
                            class="mx-2 imdb"
                            *ngIf="movie.MediaIds.Imdb != 0">
                            <i class="material-icons">launch</i>
                            IMDB
                        </a>
                        <a  href="https://trakt.tv/search/trakt/{{ movie.MediaIds.Trakt }}?id_type=show"
                            target="_blank"
                            class="mx-2 trakt"
                            *ngIf="movie.MediaIds.Trakt != 0">
                            <i class="material-icons">launch</i>
                            Trakt
                        </a>
                        <a  href="https://themoviedb.org/tv/{{ movie.MediaIds.Tmdb }}"
                            target="_blank"
                            class="mx-2 tmdb"
                            *ngIf="movie.MediaIds.Tmdb != 0">
                            <i class="material-icons">launch</i>
                            TMDB
                        </a>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <h6>Overview</h6>
                        <div class="col-12">
                            {{ movie.Overview}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container rounded bg-light mt-4">
        <downloading-item [downloadingitem]="movie.DownloadingItem"></downloading-item>
    </div>
</div>
