// Colors

$primary: #BF3A30;
$secondary: #864BA2;
$success: #689F38;
$info: #1976D2;
$warning: #FFA000;
$danger: #D32F2F;
$dark: #444444;
$light: #F5F5F5;

$theme-colors: () !default;
$theme-colors: map-merge((
"primary":    $primary,
"secondary":  $secondary,
"success":    $success,
"info":       $info,
"warning":    $warning,
"danger":     $danger,
"light":      $light,
"dark":       $dark
), $theme-colors);

$body-bg: $light;
$body-color: $dark;

$link-hover-decoration: none;

$font-header: "Lato";
$content-font: 'Crimson Text', serif;
