<div *ngIf="movie">
    <div class="card media-card">
        <a routerLink="/movies/{{ movie.ID }}">
            <img    class="card-img"
                    width="100%"
                    [attr.src]="movie.Poster"
                    [class.black_and_white]="movie.DeletedAt != null || movie.DownloadingItem.Downloaded"
                    [attr.alt]="movie.OriginalTitle">
            <div class="card-img-overlay text-white font-weight-bold font-italic overlay-red"
                 *ngIf="movie.DeletedAt != null">
                <span>
                    Removed
                </span>
            </div>
            <div class="card-img-overlay text-white font-weight-bold font-italic overlay-green"
                 *ngIf="movie.DownloadingItem.Downloaded && movie.DeletedAt == null">
                <span>
                    Downloaded
                </span>
            </div>
        </a>

        <button class="btn btn-mark text-white float-left"
                *ngIf="movie.DownloadingItem.Downloaded && movie.DeletedAt == null"
                (click)="changeDownloadedState(movie, false)">
            <i class="material-icons md-18">cloud_off</i>
        </button>
        <button class="btn btn-mark text-white float-left"
                *ngIf="!movie.DownloadingItem.Pending && !movie.DownloadingItem.Downloading && !movie.DownloadingItem.Downloaded && movie.DeletedAt == null"
                (click)="changeDownloadedState(movie, true)">
            <i class="material-icons md-18">check</i>
        </button>
        <button class="btn btn-delete-item text-white float-right"
                (click)="deleteMovie(movie)"
                *ngIf="movie.DeletedAt == null && !movie.DownloadingItem.Downloaded">
            <i class="material-icons md-18">clear</i>
        </button>
        <button class="btn btn-delete-item text-white float-right"
                (click)="restoreMovie(movie.ID)"
                *ngIf="movie.DeletedAt != null && !movie.DownloadingItem.Downloaded">
            <i class="material-icons md-18">undo</i>
        </button>

    </div>
</div>
