@import "../vars.scss";

#full_background {
    content: '';
    padding: 0;
    margin: 0;

    position: fixed;
    left: 0;
    right: 0;

    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-color: $dark;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    filter: grayscale(90%) brightness(30%) blur(2px);
    transform: scale(1.1);
}

.mediadetails {
    color: $light;
}

.external-links-banner {
    display: inline;

    a {
        font-style: italic;
        font-weight: bold;
        text-decoration: none;
    }

    a:hover {
        opacity: 0.7;
    }

    .imdb {
        color: #f9ff94;
    }

    .trakt {
        color: #ff5f68;
    }

    .tmdb {
        color: #45f6bb;
    }
}

.action-bar {
    height: 30px;
    line-height: 30px;
    background: rgba(255, 255, 255, 0.05);
    margin-bottom: 20px;
    padding: 3px;

    button, a {
        background: transparent;
        padding: 0 5px;
        border: none;
        font-weight: bold;
        font-size: 14px;

        i {
            margin-right: 5px;
        }
    }

    &.removed-element {
        background: #a51717;

        a, button {
            color: #ddd !important;
        }
    }

}

.badge-primary {
    background-color: $primary;
    background-image: linear-gradient(315deg, $primary -50%, $secondary 150%);
}

.episode-list-future {
    color: $dark;
    background: #eee;

    .badge {
        background: $dark;
    }
}

.show-status-btn {
    padding: 0 5px;
    position: relative;
    top: -5px;
    font-weight: normal;
    font-size: 12px;
}
