@import "../vars.scss";

img.black_and_white {
    filter: saturate(200%) grayscale(100%) brightness(50%);
    opacity: 0.8;
    transition-property: filter, opacity;
    transition-duration: 0.2s;
}

.overlay-green {
    background-color: rgba(36, 183, 36, 0.4);
}

.overlay-red {
    background-color: rgba(216, 61, 47, 0.4);
}

.overlay-gray {
    background-color: rgba(200, 200, 200, 0.4);
}

.overlay-yellow {
    background-color: rgba(211, 222, 0, 0.4);
}

.overlay-blue {
    background-color: rgba(0, 181, 222, 0.4);
}

.media-card {
    .card-img-overlay {
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            display: table-cell;
            vertical-align: middle;
        }
    }


    a {
        text-decoration: none;
        color: $dark;

        &:hover {
            color: lighten($dark, 15%);
        }
    }

    .btn {
        background: transparent;
        border: none;
        font-size: 12px;
        opacity: 0.8;
        padding: 0;
        margin: 0;

        &:hover {
            opacity: 1;
        }
    }

    .btn-delete-item {
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 2px;
    }

    .btn-mark {
        position: absolute;
        left: 0;
        top: 0;
        margin-left: 2px;
    }

    &:hover {
        img.black_and_white {
            filter: none;
            opacity: 1;
        }

        img {
            filter: brightness(70%);
            opacity: 1;
        }

        .card-img-overlay {
            display: none;
        }
    }
}
