<div class="container">
    <div class="row gutters" ng-if="config.System.TrackShows">
        <div class="col-12 col-md-6 mt-4 text-center">
            <div class="display-2 title-gradient">
                <a routerLink="/tvshows">
                    {{ trackedShows?.length || '0' }}
                </a>
            </div>
            <span class="h5 text-muted">
                Tracked shows
            </span>
        </div>
        <div class="col-12 col-md-6 mt-4 text-center">
            <div class="display-2 title-gradient">
                <a routerLink="/tvshows">
                    {{ downloadingEpisodes?.length || '0' }}
                </a>
            </div>
            <span class="h5 text-muted">
                Downloading episodes
            </span>
        </div>
    </div>
    <div class="row mt-4" ng-if="config.System.TrackMovies">
        <div class="col-12 col-md-4 mt-4 text-center">
            <div class="display-2 title-gradient">
                <a routerLink="/movies">
                    {{ trackedMovies?.length || '0' }}
                </a>
            </div>
            <span class="h5 text-muted">
                New movies
            </span>
        </div>
        <div class="col-12 col-md-4 mt-4 text-center">
            <div class="display-2 title-gradient">
                <a routerLink="/movies">
                    {{ downloadingMovies?.length || '0' }}
                </a>
            </div>
            <span class="h5 text-muted">
                Downloading movies
            </span>
        </div>
        <div class="col-12 col-md-4 mt-4 text-center">
            <div class="display-2 title-gradient">
                <a routerLink="/movies">
                    {{ downloadedMovies?.length || '0' }}
                </a>
            </div>
            <span class="h5 text-muted">
                Downloaded movies
            </span>
        </div>
    </div>
</div>
