#full_background {
    content: '';
    padding: 0;
    margin: 0;

    position: fixed;
    left: 0;
    right: 0;

    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;

//    background-color: $dark;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    filter: grayscale(90%) brightness(30%) blur(2px);
    transform: scale(1.1);
}

.mediadetails {
    color: $light;
    margin-bottom: $gap;

    .media_title_details {
        color: $grey-lighter;
        position: relative;
        top: 7px;
    }

    .title {
        margin-top: 20px;
    }

    .poster-container {
        width: 100%;
        height: 0;
        padding-top: 150%;
        position: relative;
        background-color: $dark;
        color: $light;
        text-align: center;
        border-radius: $radius;
        display: flex;
        align-items: center;
        justify-content: center;

        span.poster-alt {
            display: flex;
            align-items: center;
            height: 100%;
            position: absolute;
            top: 0;
        }

        .poster {
            border-radius: $radius;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.external-links-banner {
    a {
        font-style: italic;
        font-weight: bold;
        text-decoration: none;
    }

    .icon {
        margin-right: 5px;
        position: relative;
        top: 2px;
    }

    a:hover {
        opacity: 0.6;
    }

    .imdb {
        color: #f9ff94;
    }

    .trakt {
        color: #ff5f68;
    }

    .tmdb {
        color: #45f6bb;
    }
}

.action-bar {
    background: rgba(255, 255, 255, 0.05);
    margin-bottom: 20px;
    padding: 3px;

    .container {
        margin-top: 0 !important;
    }

    button, a {
        background: transparent;
        padding: 0 10px;
        border: none;
        font-size: 12px;
        font-family: $font-header;
        color: $grey-light;

        .icon {
            margin-right: 3px;
            position: relative;
            top: 2px;
        }
    }

    &.removed-element {
        background: $danger;

        a, button {
            color: $light;
        }
    }

    &.downloaded-element {
        background: $success;

        a, button {
            color: #ddd;
        }
    }
}

.episode-label {
    background-color: $primary;
    background-image: linear-gradient(315deg, $primary -50%, $secondary 150%);
    color: $light !important;
    margin-right: 5px;
}

.episode-list-future {
    color: $dark;
    background: #eee;

    .episode-label {
        background: $dark;
    }
}

.seasonlist-container .season-container {
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }

    .season-deploy-button {
        padding-left: 0;
    }
}
