img.black_and_white {
    filter: saturate(200%) grayscale(100%) brightness(50%);
    opacity: 0.8;
    transition-property: filter, opacity;
    transition-duration: 0.2s;
}

.overlay-green {
    background-color: rgba(36, 183, 36, 0.4);
}

.overlay-red {
    background-color: rgba(216, 61, 47, 0.4);
}

.overlay-gray {
    background-color: rgba(200, 200, 200, 0.4);
}

.overlay-yellow, tr.future-movie {
    background-color: rgba(211, 222, 0, 0.4);
}

.overlay-blue {
    background-color: rgba(0, 181, 222, 0.4);
}

.media-miniature{
    button.uk-icon {
        color: $light;
    }

    a {
        color: $light;
        font-family: $content-font;
        font-style: italic;
        font-weight: bold;
        text-decoration: none;
    }

    //.btn {
        //background: transparent;
        //border: none;
        //font-size: 12px;
        //opacity: 0.8;
        //padding: 0;
        //margin: 0;

        //&:hover {
            //opacity: 1;
        //}
    //}

    &:hover {
        img.black_and_white {
            filter: none;
            opacity: 1;
        }

        img {
            filter: brightness(70%);
            opacity: 1;
        }

        .uk-overlay {
            display: none;
        }
    }
}

// List display
///////////////////////////////
///////////////////////////////

tr {
    &.removed-movie, &.removed-show {
        background: lighten($danger, 40%);
    }

    &.downloaded-movie, &.downloaded-show {
        background: lighten($success, 40%);
    }

    &.future-movie {
        background-color: rgba(211, 222, 0, 0.4);
    }
}
