.has-navbar-fixed-top {
    padding-top: 67px !important;
}

.logo {
    margin-right: 30px;

    &:hover {
        background-color: transparent !important;

        span {
            background-image: linear-gradient(315deg, $info 0%, $secondary 74%);
        }
    }

    span {
        font-size: 50px !important;
        line-height: 50px !important;
        font-family: "Alex Brush";
        padding: 0 15px;
        color: transparent !important;
        background-color: $primary;
        background-image: linear-gradient(315deg, $primary 0%, $secondary 74%);
        background-clip: text;
        -webkit-background-clip: text;
    }
}

.navbar {
    background: $light;
    border-top: 3px solid $primary;
    border-image: linear-gradient(315deg, $primary 0%, $secondary 74%);
    border-image-slice: 1;
    font-family: $font-header;

    .navbar-burger {
        height: 64px;
        padding: 0 32px;
        margin-left: 10px;
    }

    .navbar-menu .navbar-item, .external-navbar-item {
        padding-left: 5px;
        padding-right: 5px;

        color: lighten($dark, 30%) !important;

        div {
            padding: 10px 15px;

            span.icon {
                margin-right: 5px !important;
                position: relative;
                top: 2px;
                color: lighten($dark, 40%);
                width: 18px;
                height: 18px;

                svg {
                    width: 18px;
                    height: 18px;
                }
            }
            span.header-label {
                position: relative;
                top: -1px;
            }
        }

        &.active, &:hover {
            background-color: transparent !important;

            div {
                background-color: darken($light, 3%);
                border-radius: $radius;
            }
        }
    }

    & + .container {
        margin-top: $gap;
    }

    .notifications_counter {
        background: none;
        border: none;
        padding-right: 0;

        &.mobile {
            margin-left: auto;
        }

        div {
            padding: 10px 0 5px 10px !important;
        }

        span.tag {
            position: relative;
            left: -12px;
            top: -10px;
            font-size: 10px;
            border-radius: 10px;

            background-color: $light;
            color: $dark;
            box-shadow: 0 0 2px $secondary;

            &.alerted {
                background-color: $secondary;
                color: $light;
                font-weight: bold !important;
                box-shadow: none;
            }
        }

        &.configuration_errors_notification {
            span.tag {
                position: relative;
                left: -6px;

                &.alerted {
                    background-color: $danger !important;
                }
            }
        }
    }

    .server-unavailable {
        padding: 0 !important;
    }
}

.footer {
    margin-top: 30px;
    padding: 0;
    border-top: none;
    border-bottom: 3px solid $primary;
    border-image: linear-gradient(315deg, $primary 0%, $secondary 74%);
    border-image-slice: 1;
}

//.footer, .topbar {
//background: $light;
//}
