@import url('https://fonts.googleapis.com/css?family=Alex+Brush');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');

@import "vars.scss";
@import "../../node_modules/bulma/bulma.sass";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    #root {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        flex: 1;

        .global-container {
            flex: 1;

            .container:first-child {
                margin-top: 20px;
            }
        }
    }
}

.columns {
    margin-left: 0;
    margin-right: 0;
}

.tag, th, .title {
    font-family: $font-header;
}

th, .title {
    font-family: $font-header;
    font-weight: 300;
}

.title.jumbo {
    font-size: 96px;
}

.subtitle-horizontal {
    position: relative;
    top: 2px;
}

.empty-section-placeholder {
    .title {
        margin: 50px 0;
    }
}

.icon.is-small svg {
    height: 1rem;
    width: 1rem;
}

.icon svg {
    height: 1.5rem;
    width: 1.5rem;
}

.icon.is-medium svg {
    height: 2rem;
    width: 2rem;
}

.icon.is-large svg {
    height: 3rem;
    width: 3rem;
}

@import "tooltips.scss";
@import "navbar.scss";
@import "forms.scss";
@import "notifications.scss";
@import "media.details.scss";
@import "media.miniatures.scss";
@import "inlineedit.scss";

.title-gradient a {
    color: transparent !important;
    background-color: $primary;
    background-image: linear-gradient(315deg, $primary -25%, $secondary 125%);
    background-clip: text;
    -webkit-background-clip: text;
}

hr {
    height: 0;
    border-top: none;
    border-top: 1px dashed rgba(0, 0, 0, 0.1);
    margin: 0.75rem 0;
}

.message.configuration-errors {
    margin-bottom: 30px;
}
.message .message-header {
    font-family: $title-family;
}

.configuration-error-status {
    min-width: 75px;
    text-align: center;
    margin-right: 5px;
}

//// Block list
/////////////////////////////////
/////////////////////////////////

ul.block-list {
    border-radius: $radius;
    margin-bottom: 30px;

    li {
        background: linear-gradient(#ffffff,#fcfcfc) !important;
        border-bottom: 1px dashed darken($light, 10%);
        padding: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > .columns {
            width: 100%;
        }

        &:first-child {
            border-top-left-radius: $radius;
            border-top-right-radius: $radius;
        }

        &:last-child {
            border-bottom-left-radius: $radius;
            border-bottom-right-radius: $radius;
            border-bottom: none;
        }
    }
}

//// Filter controls
/////////////////////////////////
/////////////////////////////////

.item-filter-controls {
    .button.is-naked {
        &.active {
            color: $info;
            border-bottom: 1px dashed $info;
        }
    }
}

.item-search {
    .icon.clickable {
        pointer-events: auto !important;

        &:hover {
            color: $dark;
        }
    }
}

.trakt-auth-code {
    margin: 20px 0;
}

.library-scan-dialog code {
    margin-right: 10px;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    .table:not(.not-responsive) {
        td, th {
            display: block;
        }
    }

    .box {
        padding: 0;
    }
}
