<div *ngIf="tvshow">
    <div class="card media-card">
        <a routerLink="/tvshows/{{ tvshow.ID }}">
            <img    class="card-img"
                    width="100%"
                    [attr.src]="tvshow.Poster"
                    [class.black_and_white]="tvshow.DeletedAt != null || tvshow.Status == 3"
                    [attr.alt]="tvshow.Name">
            <div class="card-img-overlay text-white font-weight-bold font-italic overlay-red"
                 *ngIf="tvshow.DeletedAt != null">
                <span>
                    Removed
                </span>
            </div>
            <div class="card-img-overlay text-white font-weight-bold font-italic overlay-gray"
                 *ngIf="tvshow.Status == 3 && tvshow.DeletedAt == null">
                <span>
                    Ended
                </span>
            </div>
        </a>

        <button class="btn btn-delete-item text-white float-right"
                (click)="deleteShow(tvshow.ID)"
                *ngIf="tvshow.DeletedAt == null">
            <i class="material-icons md-18">clear</i>
        </button>
        <button class="btn btn-delete-item text-white float-right"
                (click)="restoreShow(tvshow.ID)"
                *ngIf="tvshow.DeletedAt != null">
            <i class="material-icons md-18">undo</i>
        </button>
    </div>
</div>
