# Global app parameters
[system]
    # Check interval (in minutes) (default: 15)
    check_interval = 15
    # Number of different torrents to try to download before declaring download as failed (default = 20)
    torrent_download_attempts_limit = 20
    # Enable tvshows tracking
    track_shows = true
    # Enable movie tracking
    track_movies = true
    # Automatically download new TV Shows episodes when they air
    automatic_show_download = true
    # Automatically download movies when they are added into flemzerd
    automatic_movie_download = false
    # Number of days to wait after a new episode airs to download it automatically
    show_download_delay = 1
    # Number of days to wait after a new movie airs to download it automatically
    movie_download_delay = 7
    # Preferred quality (specified quality will be first in list of to download torrents) (possible values = 480p, 576p, 720p, 900p, 1080p, 1440p, 2160p, 5k, 8k, 16k)
    preferred_media_quality = "720p"
    # When the following release types are detected in a torrent name, it will be excluded from download list (possible values = cam, screener, telesync, telecine, dvdrip, hdtv, webdl, blurayrip)
    excluded_release_types = "cam,screener,telesync,telecine"
    # When getting torrents for media, if torrent info cannot be checked by vidocq, skip torrent instead of adding it to the torrent list
    strict_torrent_check = true

# WebUI settings
[interface]
    # Enable web interface
    enabled = true
    # Port used for web interface
    port = 8400

    # Auth settings
    [interface.auth]
        # UI username
        username = "admin"
        # UI password
        password = "flemzerd"

# Provider used to retrieve media info
[providers]
    tmdb = []
    tvdb = []

# List of different notification ways
[notifiers]
    desktop = []
    kodi = []
    telegram = []

    [notifiers.pushbullet]
        accessToken = "ACCESS_TOKEN"

# List of indexers used to search torrents
[indexers]
    [[indexers.torznab]]
        name = "Indexer 1"
        url = "http://first-indexer:8080/torznab"
        apikey = "API_KEY"

    [[indexers.torznab]]
        name = "Indexer 2"
        url = "http://second-indexer:9164/url/to/torznab/endpoint"
        apikey = "API_KEY"

# Download client to use
[downloaders]
    [downloaders.transmission]
        address = "localhost"
        port = 9091
        user = "USERNAME"
        password = "PASSWORD"

# List of watchlists
[watchlists]
    trakt = []
    manual = [
        "TV_SHOW_1",
        "TV_SHOW_2",
        "TV_SHOW_3"
    ]

[mediacenters]
    [mediacenters.kodi] 
        address = "ADDRESS"
        port = 1234

# Notifications parameters
[notifications]
    # Enable notifications (default = true)
    enabled = true
    # Send notification when a new episode is available (default = true)
    notify_new_episode = true
    # Send notification when a new movie is available (default = true)
    notify_new_movie = true
    # Send notification on download start
    notify_download_start = true
    # Send notification when a download is complete (default = true)
    notify_download_complete = true
    # Send notifications when a problem occurs before an episode download endend sucessfully (default = true)
    notify_failure = true

[library]
    # Where to store TV Shows (absolute path). Folder hierarchy will be created if not existent
    show_path = "/var/lib/flemzerd/library/shows"
    # Where to store movies (absolute path). Folder hierarchy will be created if not existent
    movie_path = "/var/lib/flemzerd/library/movies"
    # Temporary download dir used to download media before moving them to library
    custom_tmp_path = "/var/lib/flemzerd/tmp"
