[Unit]
Description=Flemzer daemon
After=network.target

[Service]
Type=simple
User=flemzer
Group=flemzer
ExecStart=/usr/bin/flemzerd -d
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=20

[Install]
WantedBy=default.target
