[Unit]
Description=Flemzer daemon
After=network.target

[Service]
Type=notify
User=flemzer
Group=flemzer
ExecStart=/usr/bin/flemzerd -d
ExecReload=/usr/bin/kill -USR1 $MAINPID
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=20

[Install]
WantedBy=default.target
