<div class="container" ng-if="!ctrl.config.System.TrackMovies">
    <div class="row">
    <div class="col-12 py-5 text-center">
        <span class="text-muted h4">
            Movie tracking disabled
        </span>
    </div>
    </div>
</div>

<div class="container" ng-if="ctrl.config.System.TrackMovies">
    <div class="row">
        <div class="p-2 col-lg-6 col-sm-12" ng-repeat="movie in ctrl.movies">
            <div class="container no-gutters px-0 bg-white border border-light rounded">
                <div class="row">
                    <div class="col-4">
                        <img class="rounded-left" width="100%" src="{{ movie.Poster }}" alt="">
                    </div>
                    <div class="col-8 pl-0 pr-5 pt-2">
                        <span class="h3">{{ movie.Title }} </span> <span class="badge badge-success"></span>
                        <span class="text-muted">( {{ movie.OriginalTitle }} )</span>
                        <p class="card-text">{{ movie.Overview }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <ul>
        <li ng-repeat="tvshow in ctrl.tvshows">{{ tvshow }}</li>
    </ul>
</div>
